/* exercise 1 */
.ex-1-square {
    transition: background-color 1s linear;
}

.ex-1-square:hover {
    background-color: red;
}

/* exercise 2 */

.ex-2-square {
    transition: width 1.5s ease;
}

.ex-2-square:active {
    width: 100%;
}

/* exercise 3 */

.ex-3-square {
    transition: border-radius 0.5s linear;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* exercise 4 */

.ex-4-square {
    transition: opacity 1s linear;
}

.ex-4-square:hover {
    opacity: 0;
}

/* exercise 5 */

.ex-5-square {
    transition: scale 1s ease;
}

.ex-5-square:hover {
    scale: 2;
}

.ex-5-square:active {
    scale: 0.6;
}

/* exercise 6 */

.ex-6-img:hover {
    filter: grayscale(100%);
}

/* exercise 7 */

.ex-7-img {
    transition: filter 0.5s linear;
}

.ex-7-img:hover {
    filter: invert(100%)blur(1px);
}

/* exercise 8 */
.ex-8-img {
    transition: filter 1s linear, border-radius 1s linear;
}

.ex-8-img:hover {
    filter: sepia(100%)blur(1px);
    border-radius: 20px;
}

/* exercise 9 */

.ex-9-img {
    transition: filter 1s linear, border-radius 1s linear, scale 1s linear;
}

.ex-9-img:hover {
    filter: sepia(100%)blur(1px);
    border-radius: 20px;
    scale: 1.5;
}

/* exercise 10 */

.ex-10-icon {
    animation: rotate-reverse 1s linear infinite reverse;
}

@keyframes rotate-reverse {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* exercise 11 */
.ex-11-icon:hover {
    animation: rotate 1.5s ease-in;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    90% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate (0deg);
    }
}

/* exercise 12 */


.ex-12-button:hover .ex-12-top-white {
    animation: rotate-bounce 1.5s linear;
}

@keyframes rotate-bounce {
    0% {
        left: 10%;
        bottom: 100%;
    }

    50% {
        left: calc(100% - 60px);
        bottom: 100%;
    }


    100% {
        left: 10%;
        bottom: 100%;
    }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: rotate-bounce-bottom 1.5s linear;
}

@keyframes rotate-bounce-bottom {
    0% {
        right: 20%;
        top: 100%;
    }

    50% {
        right: calc(100% - 60px);
        top: 100%;
    }


    100% {
        right: 20%;
        top: 100%;
    }
}

/*  */