/* exercise 1 */
.ex-1-square {
    transition: background-color 1s linear;
}

.ex-1-square:hover {
    background-color: red;
}

/* exercise 2 */

.ex-2-square {
    transition: width 1.5s ease;
}

.ex-2-square:active {
    width: 100%;
}

/* exercise 3 */

.ex-3-square {
    transition: border-radius 0.5s linear;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* exercise 4 */

.ex-4-square {
    transition: opacity 1s linear;
}

.ex-4-square:hover {
    opacity: 0;
}

/* exercise 5 */

.ex-5-square {
    transition: scale 1s ease;
}

.ex-5-square:hover {
    scale: 2;
}

.ex-5-square:active {
    scale: 0.6;
}

/* exercise 6 */

.ex-6-img:hover {
    filter: grayscale(100%);
}

/* exercise 7 */

.ex-7-img {
    transition: filter 0.5s linear;
}

.ex-7-img:hover {
    filter: invert(100%)blur(1px);
}

/* exercise 8 */
.ex-8-img {
    transition: filter 1s linear, border-radius 1s linear;
}

.ex-8-img:hover {
    filter: sepia(100%)blur(1px);
    border-radius: 20px;
}

/* exercise 9 */